<ion-header class="primary-bg" no-border>
    <ion-navbar>
      <ion-buttons start>
        <button ion-button icon-only (click)="goCityPage()">
          <ion-icon name="weizhi"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>{{city}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let item of inTheaters">
      <ion-avatar  item-start>
        <img src="{{item.images.large}}">
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <span class="span-text">导演:&nbsp;&nbsp;</span>
      <span class="span-text" *ngFor="let dir of item.directors" >{{dir.name}}&nbsp;&nbsp;</span>
      <span class="span-text">演员:&nbsp;&nbsp;</span>
      <span class="span-text" *ngFor="let cast of item.casts" >{{cast.name}}&nbsp;&nbsp;</span>
      <p item-end>{{item.rating.average}}分</p>
    </ion-item>
  </ion-list>
 
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
